.notified-lang {
    background-color: var(--mud-palette-background);
    cursor: crosshair;
    transition: background-color .1s;
}

.notified-lang:hover {
    background-color: rgb(70, 70, 81);
}

.t-tool-bar {
    height: 100%;
}

.t-tool-bar-hidden {
    width: 3rem;
}

.t-tool-bar-content {
    position: relative;
    width: 22rem;
    left: 0;
    transition: left .3s;
}

.t-tool-bar-content-hidden {
    left: 22rem;
}